
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Dato</th>
                <th>Endringer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til klosser for for-løkker</li>
                        <li>Lagt til kloss for aritmetikk (+, -, *, /)</li>
                        <li>Lagt til digitalWrite kloss med variabel-input</li>
                        <li>Lagt til kloss for å lese digitalt fra pin (digitalWrite)</li>
                        <li>Lagt til skrive analog verdi (analogWrite)</li>
                        <li>Tidlig implementasjon av klosser for å lage funksjoner</li>
                        <li>Lett omstrukturering av kategoriene</li>
                        <li>Lagt til link til GitHub</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>10. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til Syntax Highlighter</li>
                        <li>Oversatt til Norsk</li>
                        <li>Lagt til Styrings-blokker (if, if/else og gjentakelser)</li>
                        <li>Indenterer Arduino-kildekoden</li>
                        <li>Lagt til Dokumentasjonssiden</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>9. November 2015</td>
                <td>
                    <ul>
                        <li>Aller første versjon av Blockuino!</li>
                        <li>De mest grunnleggende klossene er lagt til</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
