
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{t "common.index.date"}}</th>
                <th>{{t "common.index.changes"}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1. August 2016</td>
                <td>
                    <ul>
                        <li>Lagt til støtte for styring av L293 og L298 motorkontrollere</li>
                        <li>Lagt yil støtte for å måle avstand i cm med Ultrasonisk sensor</li>
                        <li>Lagt til støtte for styring av Servo motorer</li>
                        <li>Lagt til støtte for å skrive til OLED display</li>
                        <li>Lagt til støtte for å lese fra DHT11 temperatur og luftfuktighetsmåler</li>
                        <li>Lagt til støtte for å skrive og lese fra EEPROM</li>
                        <li>Lagt til støtte for å generere tilfeldige tall</li>
                        <li>Fjerner muligheten for å se XML koden</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2. Februar 2016</td>
                <td>
                    <ul>
                        <li>Lagt til støtte for Tone og pulseIn</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>8. Desember 2015</td>
                <td>
                    <ul>
                        <li>Lagt til kloss for å opprette en variabel og definere verdi samtidig</li>
                        <li>Lagt til kloss sette pin verdi via variabel</li>
                        <li>Lagt til kloss definere pin type via variabel</li>
                        <li>Lagt til kloss for å lese fra de analoge portene</li>
                        <li>Lagt til kloss for å repetere over en variabel (angi nytt variabelnavn i for-løkke)</li>
                        <li>Lagt til klosser for å styre WS2811 og WS2812 LED lamper via Adafruit NeoPixel biblitotek</li>
                        <li>Lag til klosser for Serial.begin() og Serial.print() og println()</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>20. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til kopiering til utklippstavlen for både Arduinokoden og XML koden via knapper</li>
                        <li>Lagt til klosser for å definere pinMode via variabel (i tillegg til dropdown)</li>
                        <li>Lagt til klosser for standard-variablene true, false, HIGH og LOW</li>
                        <li>Tar bort "label"-elementet til variabel og verdi klossene når en variabel er valgt og en verdi er gitt</li>
                        <li>Fikset bug i gjenta-klossen</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>15. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til linker til Kodegenet, Twitter og Facebook</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>14. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til base-64 encoding av klossene, for enkel bokmerking og deling av kode.</li>
                        <li>Zipper Base-64 for å få kortere URLer</li>
                        <li>Lagt til nedlasting og opplasting av XML filer for å kunne lagre prosjektene</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>13. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til mulighet for å vise XML koden til klossene</li>
                        <li>Fargekoder kategoriene</li>
                        <li>Lagt til egen Blink-kloss</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>11. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til klosser for for-løkker</li>
                        <li>Lagt til kloss for aritmetikk (+, -, *, /)</li>
                        <li>Lagt til digitalWrite kloss med variabel-input</li>
                        <li>Lagt til kloss for å lese digitalt fra pin (digitalWrite)</li>
                        <li>Lagt til skrive analog verdi (analogWrite)</li>
                        <li>Tidlig implementasjon av klosser for å lage funksjoner</li>
                        <li>Lett omstrukturering av kategoriene</li>
                        <li>Lagt til link til GitHub</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>10. November 2015</td>
                <td>
                    <ul>
                        <li>Lagt til Syntax Highlighter</li>
                        <li>Oversatt til Norsk</li>
                        <li>Lagt til Styrings-blokker (if, if/else og gjentakelser)</li>
                        <li>Indenterer Arduino-kildekoden</li>
                        <li>Lagt til Dokumentasjonssiden</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>9. November 2015</td>
                <td>
                    <ul>
                        <li>Aller første versjon av Blockuino!</li>
                        <li>De mest grunnleggende klossene er lagt til</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
