<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>Lagrede prosjekter</h1>
      {{#each model.projects as |project|}}
        {{#link-to "index" (query-params projectId=project.id)}}
            <div>{{project.id}} - {{project.name}}</div>
        {{/link-to}}
      {{/each}}
    </div>
</div>