<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>Dokumentasjon</h1>

        <p>Blockuino er et enkelt blokk-basert verktøy for å generere Arduino kode. Klossene kan kobles sammen, og den
            ferdige Arduino koden kan leses av i feltet til høyre. Når koden er ferdig kan den kopieres og limes inn i Arduino IDE
            for å lastes opp til Arduinoen din.</p>

        <img src="/blockuino.gif" style="max-width: 800px"/>
    </div>
</div>
