<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>{{t "common.index.documentation"}}</h1>

        <p>{{t "common.divs.docsInfo"}}</p>

        <img src="/blockuino.gif" style="max-width: 800px"/>

      <div class="clearfix"></div>
      <h2>{{t "common.index.videos"}}</h2>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C1LwjOm0TIk" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</div>
