.header-area {
}

.CodeMirror {
  border: 1px solid #eee;
  height: 85vh;
  width: 95vw;
}

.generated-code {
  max-height: 85vh;
  min-height: 85vh;
  height: 85vh;
  overflow: scroll;
  width: 99%;
  min-width: 99%
}

.blockly-setup {
  width: 99%;
  height: 85vh;
  border: 1px #000 solid;
}

.tilbakemelding-area {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
}

.programming-area {
  margin-left: 60px;
}

.loggArea {
  width: 100%;
  height: 200px;
}

.vertical-menu-bar {
  position: absolute;

  left: 0px;
  width: 55px;
  height: 85vh;
  background-color: #735B4D;
  text-align: center;
  padding-top: 20px;
}

.vertical-menu-item {
  width: 45px;
  height: 45px;
  margin-left: 5px;
  padding-top: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #455977;
  line-height: 45px;
  margin-bottom: 10px;
  cursor: pointer;
}

.vertical-menu-item a {
  color: #fff;
}

.vertical-menu-separator {
  border-color: #bd9883;
  width: 75%;
}

.vertical-menu-item-content {
  color: #fff;
  position: relative;
  top: -51px;
  max-width: 200px;
  background: #455977;
  left: 44px;
  overflow: hidden;
  min-width: 300px;
  z-index: 10;
  border: 1px solid #fff;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
}

.menu-button {
  font-size: 16px;
  color: #a94442;
  border: 1px solid #2F1413;
  background-color: #fcf8e3;
  padding: 5px;
  letter-spacing: 2px;
  font-family: monospace;
  margin-right: 15px;
  line-height: 5px;
  margin-top: 20px;
  width: 60px;
  text-align: center;
}

.header-hamburger {
  background: #525252;
  color: #fff;
  position: absolute;
  top: 60px;
  z-index: 100;
  height: 100%;
  left: 0px;
  right: 0px;
}

.menu-item {
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.menu-item i {
  color: #fff;
  margin-right: 20px;
  min-width: 60px;
  text-align: center;
}

.menu-item:hover i {
  color: #000;
  background: #fff;
}

.menu-item div {
  line-height: 25px;
  display: inline;
  font-size: 24px;
}

.menu-item:hover div {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.center-container {
  width: 60vw;
  margin: 0 auto;
}

.center-container a {
  display: block;
  color: #fff;
}

.center-container a:visited {
  display: block;
  color: #fff;
}

.center-container a:active {
  display: block;
  color: #fff;
}

.header-save-link {
  font-size: 14px;
  color: #a94442;
  padding: 10px;
  letter-spacing: -0.5px;
  font-family: monospace;
  margin-right: 15px;
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.header-link {
  font-size: 16px;
  color: #a94442;
  border: 1px solid #2F1413;
  background-color: #fcf8e3;
  padding: 10px;
  letter-spacing: 2px;
  font-family: monospace;
  margin-right: 15px;
}

.source-code {
  width: 100%;
  min-width: 100%;
  height: 85vh;
  min-height: 400px;
}

.small-margin-left {
  margin-left: 25px;
}

.logo {
  text-align: center;
  max-height: 8vh;
  max-width: 20vw;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.kodegenet-logo {
  margin-top: 10px;
  min-width: 11vh;
  max-width: 11vw;
}

.right-margin-small {
  margin-right: 15px;
  padding-right: 15px;
}
